/*BASE STYLING*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--us-store-bambulab-com-saddle-brown, var(--color-orange-17, #573B00));
    font-family: Manrope, Inter, Helvetica, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.75px
}



p.policy{
color: #757575;
font-family: Manrope;
font-size: 0.9375rem;
font-style: normal;
font-weight: 400;
line-height: 1.5625rem; /* 166.667% */
}

/* Display/Display 60 */
.display-60{
font-family: Manrope;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
color: var(--Gray-400, #98A2B3);
}

/*BUTTONS STYLING*/
/*Buttons Default States*/
button{
    display: flex;
    padding: 0.75rem 2.5rem;
    flex-direction: column;
    align-items: center;    
    border-radius: 0.5rem;
    background: var(--Primary-Btn, #3C88C3);
    color:#F0E0E0;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    border:1px solid var(--Primary-Btn, #3C88C3);
    cursor:pointer;
}

button.primary-sm{
    display: flex;
    width: 4.8125rem;
    height: 2.25rem;
    padding: 0.5rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    aspect-ratio: 77/36;
    border-radius: 0.375rem;
    background: #3C88C3;
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; /* 142.857% */
    border:1px solid var(--Primary-Btn, #3C88C3);
    cursor:pointer;
}

.btn-secondary{
    display: flex;
    padding: 0.8125rem 2.0625rem;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid var(--Primary-Btn, #3C88C3);
    color: var(--Primary-Btn, #3C88C3);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 150% */
    cursor:pointer;
}

/*Buttons Default Hover*/
/*Buttons OnPress*/
/*Buttons OnRelease*/

/*LINKS STYLING*/
/*Link default*/
a{
color:green;
}

a:hover{
color:orangered;
}

/*NAVIGATION STYLING*/
/*DESKTOP*/


/*MOBILE*/
/*unorderedlist*/
/*orderedlist*/
/*list*/







/*BREAK POINT -- MOBILE*/
/*Mobile*/
.bannerDisplay{
    position: relative;
    overflow-x: hidden;
    display: flex;
    width: 390px;
    align-items: flex-start;
    gap: 10px;
    background: red;
    
    height: 200px;    
    overflow: hidden;
} 

.bannerCarousel{
    position:absolute;
    width:780px;
    display: flex;
    left:0;
    top:0;
    min-height: 100px;
    background-color: transparent;
    transform:translateX(0%); /*Use this for carousel transition during animation*/
}

p.slide{
    border:1px solid black;
    padding:16px 24px;
    background: #FFCE6B;
    width:390px;
}

span{
    color: var(--us-store-bambulab-com-saddle-brown, var(--color-orange-17, #573B00));
    /* us.store.bambulab.com/Manrope/Regular */
    font-family: var(--font-family-Font-1, Manrope);
    font-size: var(--font-size-14, 14px);
    font-style: normal;
    font-weight: var(--font-weight-400, 400);
    line-height: var(--line-height-22_75, 22.75px); /* 162.5% */
}

a{
    color: var(--us-store-bambulab-com-saddle-brown, var(--color-orange-17, #573B00));
    /* us.store.bambulab.com/Manrope/Regular */
    font-family: var(--font-family-Font-1, Manrope);
    font-size: var(--font-size-14, 14px);
    font-style: normal;
    font-weight: var(--font-weight-400, 700);
    line-height: var(--line-height-22_75, 22.75px);
}