/*LINKED SUPPLIES STYLING*/

.icon.rightTopCategoryMobileArrow{
        transform:translateY(3px);
    }


  
    :root {
        --slide-and-container-width-singularUnit: 83vw;
        --Supplies-slide-and-container-height: 400px;
        /* controls the slide viewer width per slide*/
        /*We are using 1200px or 83vw or 83%*/
    }




    .carousel-header, .carousel-body, .carousel-footer{
        width: var(--slide-and-container-width-singularUnit);
        margin:0 auto;
    }

    .section.topProducts-carousel-header{
        padding-top:4.375rem;

    }

    .carousel-window, .carousel-wrapper, .slide{
        height: var(--Supplies-slide-and-container-height);
    }


    /*GRID SYSTEM TEMPLATE FOR REUSE*/
    .carousel-body.productsGrid.supplies-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:1rem;
        padding-top:1rem;
        padding-bottom: 2rem;
        position: relative;
    }
    

    /* -----------------------------------------
    PRODUCT GRID IMAGES — ONLY THE 8 PRODUCTS
    ----------------------------------------- */
    .product-grid-item {
        position: relative;
        width: 100%;
        aspect-ratio: 4 / 5;
        background-size:contain;
        background-color: #efefef;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        overflow: hidden;
        min-height: 300px;
    }

    /* 1: Clover Barcode Scanner */
    .product-grid-item.cloverBarcodeScanner {
        background-image: url("../images/products/supplies/2D_Clover_BarcodeScanner_1-1.png");
        
    }

    /* 2: Ink Ribbon Star Micronics */
    .product-grid-item.inkRibbonStarMicronics {
        background-image: url("../images/products/supplies/Ink_Ribbon_Star_Micronics_1-1.png");
    }

    /* 3: Star Micronics SP700 */
    .product-grid-item.starMicronicsSP700 {
        background-image: url("../images/products/supplies/Star_Micronics_SP700_1-1.png");
    }

    /* 4: Dejavoo Z8 */
    .product-grid-item.dejavooZ8 {
        background-image: url("../images/products/supplies/Dejavoo_Z8_1-1.png");
    }

    /* 5: StarMicronics Paper */
    .product-grid-item.starMicronicsPaper {
        background-image: url("../images/products/supplies/StarMicronics_Paper_1-1.png");
    }

    /* 6: Clover Flex Paper */
    .product-grid-item.cloverFlexPaper {
        background-image: url("../images/products/supplies/CloverFlex_Paper_1-1.png");
    }

    /* 7: Clover Cash Drawer */
    .product-grid-item.cloverCashDrawer {
        background-image: url("../images/products/supplies/Clover_Cash_Drawer_1-1.png");
    }

    /* 8: Clover Station Paper */
    .product-grid-item.cloverStationPaper {
        background-image: url("../images/products/supplies/CloverStation_Paper_1-1.png");;
    }
        

    .productInfo{
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            height: auto;
            text-align: center;
            padding: 1.5rem 1rem;
            bottom:0;        
    }

        .supplies-product{
            padding:4rem 2rem;
        }

        .supplies-product.heroSlide1 {
    background:url(../images/products/banner/ShopForSupplies_Banner_3-3grey.jpg);    background-size: cover;
        background-position: center;
    }

    .supplies-product.heroSlide2 {
        background:url(../images/products/banner/ShopForSupplies_Banner_3-2.jpg);
        background-size: cover;
        background-position: center;
    }


    .carousel-body.productsGrid.supplies-grid .productTitle{
        color: var(--us-store-bambulab-com-mine-shaft, var(--color-grey-20, #333));
        text-align: center;

        /* us.store.bambulab.com/Semantic/Link */
        font-family: var(--font-family-Font-1, Manrope);
        font-size: var(--font-size-14, 14px);
        font-style: normal;
        font-weight: var(--font-weight-700, 700);
        line-height: var(--line-height-21, 21px); /* 150% */
    }


    .carousel-body.productsGrid.supplies-grid p.productSummary{
        color: var(--us-store-bambulab-com-mine-shaft, var(--color-grey-20, #333));
        text-align: center;

        /* us.store.bambulab.com/Semantic/Link */
        font-family: var(--font-family-Font-1, Manrope);
        font-size: var(--font-size-14, 14px);
        font-style: normal;
        font-weight: var(--font-weight-400, 400);
        line-height: var(--line-height-21, 21px); /* 150% */
    }

        .carousel-window {
            position: relative;
            width: var(--slide-and-container-width-singularUnit);
            overflow: hidden; /* hide overflow for carousel effect */        
            margin:0 auto;
        }


            .carousel-wrapper {
            top:0px;
            left:0px;
            position: absolute;
            display: flex; /* make slides line up horizontally */
            width: max-content; /* let JS or content determine total width */
        }


        .slide {
            width: var(--slide-and-container-width-singularUnit) ; /* each slide takes full viewport width */
            flex-shrink: 0; /* prevent shrinking */
            padding:0rem;
            flex-direction: row;
            align-self: center;
            min-height:200px; /*Placeholder can be changed where necessary */
            align-items: center;
            background-color: rgb(214, 213, 213);
        }

        .textInfo-wrapper, .image-wrapper{
            flex:1;
        }

        .textInfo-wrapper{
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .cta-container-hero{
            padding-top: 52px;
            display: flex;
            gap:1rem;
        }


        p.label-h1{
                color: var(--us-store-bambulab-com-yellow-orange, var(--color-orange-63, #FFBA41));
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 16.8px; /* 120% */
            min-height:16.8px;
            
        }

        p.display{
            color: var(--us-store-bambulab-com-alabaster, var(--color-grey-98, #FBFBFB));

            font-family: var(--font-family-Font-1, Manrope);
            font-size: var(--line-height-18, 18px);
            font-style: normal;
            font-weight: var(--font-weight-700, 700);
            line-height: var(--line-height-23_4, 23.4px); /* 130% */
            width: 340px;
            max-width: 28ch;
        }
        
        h1.producCategoryheading.title{
        color: var(--us-store-bambulab-com-black-88, var(--color-black-88, rgba(0, 0, 0, 0.88)));
        /* us.store.bambulab.com/Semantic/Heading 2 */
        font-size: 2rem;
        font-style: normal;
        font-weight: var(--font-weight-700, 700);
        line-height: var(--line-height-44_2, 44.2px); /* 130% */
        }
    
        .carousel-header.withRemote{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 36px;
            position: relative;
        }


        .view-toggle.handHeldDevice{
            color: #333;
            border-radius:0px;
            background-color: transparent;
            padding:0;
        }

        .btn-featured-products.product-Btn-Desktop.topCategory{
            position: absolute;
        }
        

        .view-toggle.handHeldDevice svg, .btn-featured-products.product-Btn-Desktop svg{
            transform: translateY(3px);
        }
        
        .btn-featured-products.product-Btn-Desktop:hover{
            background-color: var(--color-primary);
            color:var(--color-primary);
            color:white;
            border:1px solid var(--color-primary);

        }

        .btn-featured-products.product-Btn-Desktop{
            margin-top:1.8rem;
        }


        .directionCarousel.handHeldDevice{
            color: #333;
            border-radius:0px;
            background-color: transparent;
            padding:0;
            border:1px solid #656572;        
            width: var(--circle-size, 32px);
            height: var(--circle-size, 32px);
            background: var(--circle-color);        
            border-radius: 50%; /* makes it a perfect circle */           
        }

        .directionCarousel.handHeldDevice:hover{
            background-color: #333 !important;
            color:white;
        }

        .directionCarousel.handHeldDevice:hover .icon.leftarrow, .directionCarousel.handHeldDevice:hover .icon.rightarrow {
            color:white;

        }

        .product-Btn-Desktop.white-liner{
                    color:#ccc;
                    border:1px solid #ccc;
        }

        .product-Btn-Desktop.white-liner:hover{
            color:var(--color-primary);
            background-color: #fff;
            border:1px solid #ccc;
        }

    

        .product-title{
            color: var(--us-store-bambulab-com-cod-gray, var(--color-grey-10, #1A1A1A));
            font-size: var(--line-height-18, 18px);
            font-style: normal;
            font-weight: var(--font-weight-700, 700);
            line-height: var(--line-height-23_4, 23.4px); /* 130% */
        }

        .product-intro{
            color: var(--us-store-bambulab-com-cod-gray, var(--color-grey-10, #1A1A1A));
            font-size: 1rem;
            font-style: normal;
            font-weight: var(--font-weight-700, 500);
            line-height: var(--line-height-28_8, 28.8px); /* 120% */
            padding:.75rem 0rem;
            padding-right:60%;
        }


        a.productLink{
            padding:1.5rem 0rem;   
            cursor: pointer;                     
        }

        .remoteControl{
            display: flex;
            justify-content: end;
            gap:.5rem;
        }

        .view-toggle.handHeldDevice:hover{
            background-color: grey;
            color:white;

        }
        
        .view-toggle.handHeldDevice:hover{
            background-color: transparent;
            color:var(--color-primary);
        }



    /*WE ARE USING DESKTOP FIRST APPROACH*/
    /*THE TABLE DEVICE*/
    @media (max-width:1024px) {
        :root{
            --slide-and-container-width-singularUnit:94vw;
             --Supplies-slide-and-container-height: 250px;
        }

   

        .carousel-window, .carousel-body.productsGrid.supplies-grid, .slide, .slide div.featured-product, .carousel-footer, .carousel-header, .carousel-body{
            width: var(--slide-and-container-width-singularUnit);            
        }


        .carousel-body.productsGrid.handheld-grid{
            gap:1rem;
            padding-bottom: .5rem;
        }   

        .productInfo{
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        
        padding: 1rem;
        bottom:0px;
        }


        .handheld.js-handheld{
            width:94vw;
            /* background-color: red; */
        }
    }


    

    /*THE LAST AND SMALLEST DEVICE WILL BE 768PX*/
    @media (max-width:768px) {      


        :root {
        --slide-and-container-width-singularUnit: 94vw;
        --Supplies-slide-and-container-height: 200px;
        /* controls the slide viewer width per slide*/
        /*We are using 1200px or 83vw or 83%*/
            }

            .slide.supplies-product{
                padding:0rem;
                height: 100%;

            }

            
            .slide.supplies-product div.supplies-product{
                padding-right:20%;
            }

            .btn-featured-products.product-Btn-Desktop{
                margin-top:0.2rem;
            }
        .carousel-body.productsGrid.supplies-grid{
            grid-template-columns: repeat(2, 1fr);
            gap:1rem;
            padding-top:1rem;
            padding-bottom: 2rem;
        }

        .carousel-wrapper.supplies{
            gap:0px;
        }

        .slide{
            /* margin:auto 0; */
            background-color: #fff;
            flex-direction: column;
            
        }

        .supplies-product{
            padding:2rem 1rem;
        }    

        .carousel-header.withRemote{
            padding-bottom:.5rem;
        }

    
        .textInfo-wrapper{
            align-items: center; 
            padding:.5rem;
        }

        p.display, h1.heading.title{
            width: 100%;
        }
            

        p.display, h1.heading.title{
            text-align: center;
        }

        h1.producCategoryheading.title{
            font-size:1.25em;
        }
        .remoteControl button{
            font-size:.9rem;
        }
            

        .image-wrapper{
            position: relative;
            right:0;
            bottom:0%;
            transform:translate(0%, 0%);
            border:1px solid white;
            width:var(--slide-and-container-width-singularUnit); /*Image container width to cover in d esktop version*/
            max-height:var(var(--Supplies-slide-and-container-height)) ;
            /* height: 100%; */
        }

        p.display{
            color: var(--TypographyColors-Subtitle, #788289);
            text-align: center;

            /* BBu.Mobile.P1 */
            font-family: Manrope;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 150% */
        }

        h1.heading.title{
        color: var(--TypographyColors-Title, #18374E);
        text-align: center;

        /* Mobile.H1 */
        font-family: Inter;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 52.8px; /* 120% */
        }

        .carousel-body.productsGrid.handheld-grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /* column-gap:0rem; */
            gap:1rem;
            padding-top:1rem;
            padding-bottom: 1.5rem;
        }

        .remoteControl{
                    display: flex;
                    /* justify-content: center; */
        }

        .supplies-product{
                padding: 2rem 1rem;
        }

        .product-intro{
            /* text-align: center;   */
            font-size: 1rem;
            padding: .75rem;
        }

        .product-intro{
            padding:1rem 0rem;
        }

        .product-title{
            text-align: left;
        }

        .featured-product {
            padding: 2rem 1rem;
            display: flex;
            align-content: flex-end;
            justify-content: flex-start;
        }


    }

    @media (max-width:550px) {     
        .product-grid-item.cloverBarcodeScanner .productInfo{
                align-items: flex-start;
                display: flex;
            }
           
    }

               