
.merchantApplicationForm.contact-card{
width: 100%;
margin: 0 auto;
}

.merchantFormBreaker{
    display:inline;
    /* display:none; Use this code to remove the span br element on Mobile View */
}
    .form-title{
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;

    }

    .contact-card__image-wrapper{
        text-align: center;
        padding: 2rem;
        background-color: grey;
        background-image: url(../assets/images/promo/HeroBanner1.jpg);
    }

    .contact-card__image-wrapper p{
        color: var(--Gray-400, #98A2B3);
        text-align: center;

        /* Body/Body 20 */
        font-family: Manrope;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    form.merchantApplicationForm{
        padding:0;
       display: block;
    }
    
  
    .formSections-wrapper{
        position: relative;
        background-color: #EFEFEF;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin:0 auto;    
        padding:0rem 10%;
        padding-bottom:2rem;
    }


    button.merchantApplicationForm{
        margin-top: 2rem;
    }

    fieldset{
        border:none;
    }

  
    .verticalsplitter{
        position: absolute;       
        top: 50%;                
        left: 50%;                
        transform: translate(-50%, -50%); 
        width: 1px;             
        height: 80%;            
        background-color: #a09d9db9;  

    }
    

    .formSections-wrapper div.form-section{
        flex:1;
        padding:3rem;
        /* background-color: red; */
        
    }



    .address-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap:1rem;
        
    }

    .contact-card__image-wrapper{
        /* border-radius: .5rem .5rem 0 0; */
    }

    .formSections-wrapper {
        /* border-radius: 0rem 0rem .5rem .5rem; */
    }

   
    .form-section {
    }

    label{
        width:auto;
        padding-top:1rem;
    }

    .btn-primary.merchantApplicationForm{
            width: 100%;
        }
 


    @media (max-width:1200px){
        .formSections-wrapper div.form-section{
            padding:2rem;
        }

        .formSections-wrapper{
            padding:0rem 5%;
            padding-bottom: 2rem;
        }
    }

    @media (max-width:768px){
        .formSections-wrapper{
            flex-direction: column;

        }

        .verticalsplitter{
            display:none;
        }

       .formSections-wrapper{
            padding:0rem;
        }

        .formSections-wrapper div.form-section{
            padding:1.5rem 1rem;
        }

        .formSections-wrapper div.form-section:last-child{
            padding-bottom: 3rem;
        }
       
    }


    