<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Union Mega Menu</title>
<link rel="stylesheet" href="../assets/css/style-guide.css">
<link rel="stylesheet" href="../assets/css/union-megaMenu.css">

<script src="../assets/js/union-megaMenu.js"></script>

</head>

<body>

<!-- UNION HERO VIEW PRODUCTS BUTTON -->
<button id="unionMegaMenuToggle" class="btn-primary union-mega-menuHeroBtn" aria-expanded="false">
  View Products

  <span class="unionMegaMenu-icon arrow-right">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon unionMegaMenu arrow-right">
      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
    </svg>
  </span>

  <span class="unionMegaMenu-icon arrow-long-right">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon unionMegaMenu arrow-long-right">
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
    </svg>
  </span>
</button>

<!-- UNION MEGA MENU -->
<div id="unionMegaMenu" class="union-mega-menu">
  <button class="union-mega-menu__close" aria-label="Close menu">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon unionMegaMenu close-icon">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>
  </button>

  <div id="unionMegaMenuLeft" class="union-mega-menu__left"></div>
  <div id="unionMegaMenuRight" class="union-mega-menu__right"></div>
</div>

<!-- UNION MEGA MENU  JS SCRIPT-->

</body>
</html>
