
    
        /* ============================
           BASE / MOBILE-FIRST STYLES
        ============================= */

        body {
            margin: 0;
            padding: 0;
            background: #F3F4F6;
            font-family: Manrope, sans-serif;
            color: #18374E;
        }

        .about-section {
            width: 100%;
            padding: 2rem 1rem; /* mobile padding */
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        .about-title {
            text-align: center;
            font-size: 2.25rem; /* 36px */
            font-weight: 700;
            line-height: 1.2;
        }

        .about-content {
            display: flex;
            flex-direction: column;
            gap: 2rem; /* spacing between paragraphs */
            text-align: center;
            color: #788289;
            max-width: 90%;
            
        }

        .about-content p {
            font-size: 1.125rem; /* 18px */
            line-height: 1.6;
            margin: 0;
        }


        /* ============================
               DESKTOP STYLES
        ============================= */
        @media (min-width: 1024px) {
            .about-section {
                padding: 5rem 1rem 8rem;
            }

            .about-title {
                font-size: 3rem; /* 48px */
            }

            .about-content {
                gap: 2.5rem;
                max-width: 70%;
                /* background-color: red; */
            }

            .about-content p {
                font-size: 1.25rem; /* 20px */
                line-height: 1.8;
            }
        }