
    /* ===============================
   BANNER CAROUSEL ONLY
=============================== */
:root{
    --bannerHeight:50px;
    --caret-radius:50px;

    --banner-carousel:80px;
}
    .banner-btn{
        width:var(--caret-radius);
        height: var(--caret-radius);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-btn:hover{
        background-color: rgba(255, 255, 255, 0.363);
        /* color: #333   ; */
    }

   
.banner-carousel {
  position: relative;
  width: 100%;
  max-height: var(--banner-carousel);
  height: var(--banner-carousel);
  overflow: hidden;
}

.banner-wrapper {
  display: flex;
  height: 100%;
  transition: transform 0.45s ease-in-out;
}

.banner-slide {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  background-image: url(../images/promo/Meeting_Banner_LAT_MF.webp);
  background-size: cover;
  background-position: center;
}

.banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-advert {
  min-height: var(--bannerHeight);
  margin-bottom: 0.5rem;
}

/* Buttons */
.banner-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}

.banner-prev { left: 12px; }
.banner-next { right: 12px; }

 .banner-advert{
    display: none;
    /* display: block; */
    /* max-height: 80px; */
    min-height: 80px;
 }

 .banner-media{
    display: flex;
    min-height: 80px;
    justify-content: center;

 }

 /* ===============================
   BANNER FADE STATES
=============================== */
/* ===============================
   BANNER CUBIC-BEZIER FADE
=============================== */

.banner-wrapper {
  transition:
    transform 0.45s ease-in-out,
    /* opacity 0.6s cubic-bezier(0.4, 0.0, 0.2, 1); */
    opacity 0.6s cubic-bezier(0.22, 1, 0.36, 1);

  will-change: transform, opacity;
}

.banner-wrapper.is-fading {
  opacity: 0;
}

@media(max-width:768px){
    .banner-advert{
        display: flex;
        max-height: 30px;

    }

     .banner-btn.banner-prev{
      display: none; /*Marketing strategy to allow them not hesitate*/
    }

    .banner-next{
      right:0px;
    }

    

    p.banner-message{
      padding:1rem;


    }

    span.bannerDirectionalArrow-CTA{
      display: none;

    }

}
