
    .default-section.hero-rok-financial{
      margin:0 auto;
      width: 100%;
      padding:0 10%;
      margin:0 auto;
      display: flex;
      flex-direction: column;
      min-height: 500px;
      padding-top:2rem;
    }

    p.subtitle.soft{
      color: var(--us-store-bambulab-com-black, var(--color-black-solid, #000));
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 150% */

    }

    h1.Headtitle{
      color: var(--us-store-bambulab-com-black, var(--color-black-solid, #000));

/* go.mypartner.io/Semantic/Heading 1 */

font-size: var(--font-size-36, 36px);
font-style: normal;
font-weight: var(--font-weight-700, 700);
line-height: var(--line-height-43_2, 43.2px); /* 120% */

    }

    p.subtitle.strong{
      color: var(--us-store-bambulab-com-black, var(--color-black-solid, #000));


font-size: var(--font-size-29, 29px);
font-style: normal;
font-weight: var(--font-weight-400, 400);
line-height: var(--line-height-34_8, 34.8px); /* 120% */
    }

    .default-section.hero-rok-financial div{
      flex:1;
    }

    .Intro-Both-Logos{
      width: 100%;
      padding:0 10%;
      text-align: center;
    }

    .TextInfo-Rok-BizFin{
      width: 100%;
      display: flex;
      flex-direction: row;
      position: relative;     
    }

    .rok-official{
      position: relative;      
    }
   
    .googelTrustReviewRok{
      display: block;
    }
    .googelTrustReviewRok, ul.RokCustomBullets{
      padding-bottom: 1rem; 
    }

    ul.RokCustomBullets {
      list-style: none; 
    }

    ul.RokCustomBullets li{
      background: url(../assets/images/rokBusinessFinancing/checked-box.png) ;
      background-repeat: no-repeat;
      padding-left: 2rem;  
      color: var(--us-store-bambulab-com-black, var(--color-black-solid, #000));
font-size: var(--font-size-20, 20px);
font-style: normal;
font-weight: var(--font-weight-200, 200);
line-height: var(--line-height-30, 30px); 

    }

    .TextInfo-Rok-BizFin{
      padding-left:15%;
    }

    .rok-official{
      position: absolute;
      bottom:0;
      right:0%;
      transform: translateX(-60%);
      z-index:-1;
      width: 280px;
    }


    
    :root {
      --white: #fff;
      --black: #000;
      --gray: #757575;
      --primary: #3C88C3;
    }

    body {
      margin: 0;
      font-family: Manrope, sans-serif;
      line-height: 1.5;
      font-size: 14px;
    }

    p {
      font-size: 1.25rem;
      padding: 1rem 0;
    }

     :root{
        --greySlimBorder:#dbd6d6;
      }


    /* ============================
        SECTIONS (GLOBAL)
    ============================ */
    .default-section {
      width: 100%;
    }

    /* ============================
        QUALIFY SECTION
    ============================ */
    .qualify-section {
      padding: 7.5rem 0;
      background: var(--black) url("../images/rokBusinessFinancing/RokFinanceBackground.jpg") center/cover no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .qualify-header {
      text-align: center;
      border-bottom: 5px solid #fff;
      padding-bottom: 34px;
      margin-bottom: 2rem;
    }

    .breakQualifyTitle {
      display: none;
    }

    .qualify-title {
      color: var(--white);
      font-size: 2.25rem; /* 36px */
      font-weight: 700;
      line-height: 1.2;
    }

    .qualify-body {
      display: flex;
      gap: 1rem;
      text-align: center;
      padding: 2rem 5%;
    }

    .qualify-item-title {
      color: var(--white);
      font-size: 1.75rem; /* 28px */
      font-weight: 600;
      line-height: 1.2;
    }

    .qualify-item-text {
      color: var(--white);
      font-size: 1.25rem;
      padding: 1rem;
    }

    /* ============================
        FEATURES SECTION
    ============================ */
    .default-section.features{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      justify-content: center;
      align-content: center;
      width: 100%;
      padding:0rem 10%;

    }

    .singleUnit-feature{
      border:1px solid var(--greySlimBorder);
      border-right:0px solid var(--greySlimBorder);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding:1rem;
    }

    .default-section.features div:last-child{
      border-right:1px solid var(--greySlimBorder);
    }


    /* ============================
        QUESTIONS SECTION
    ============================ */
    .questions-section {
      width: 100%;
    }

    .questions-container {
      display: flex;
      justify-content: center;
      padding: 120px 10%;
      width: 100%;
      gap: 2rem;
    }

    .questions-title {
      font-size: 2.25rem; /* 36px */
      font-weight: 700;
      color: var(--black);
      line-height: 1.2;
    }

    .questions-subtitle {
      font-size: 2.25rem; /* 36px */
      font-weight: 300;
      color: var(--black);
      line-height: 1.2;
    }

    .questions-text {
      font-size: 1.25rem;
    }

    .questions-container > div {
      flex: 1;
    }

    .singleUnit-feature{
        justify-content: stretch;
      }
     

      
    /* ============================
        RESPONSIVE
    ============================ */

    @media (max-width: 1200px) {
        .default-section.features {
          padding: 0rem 2%;
        }

          .TextInfo-Rok-BizFin{
          padding-left:0%;
        }

        .rok-official{
          transform: translateX(-2%);
          z-index:-1;
        }

    }


    @media (max-width: 1024px) {
      .questions-container {
        padding: 2rem 6%;
      }

      .singleUnit-feature{
        /* align-items: start; */
        /* text-align: left; */
        justify-content: start;
      }

      .default-section.features{
      grid-template-columns: repeat(2,1fr);
      padding:0rem 5%;
      }
      .default-section.features div.singleUnit-feature{
        border:none;
      }

      

      .default-section.features div:not(:last-child){
        border-top: 1px solid var(--greySlimBorder);
         border-left: 1px solid var(--greySlimBorder);;
      }

      .default-section.features div:not(:first-child){
        border-bottom: 1px solid var(--greySlimBorder);;        
      }

      .default-section.features div:nth-child(2), .default-section.features div:nth-child(3), .default-section.features div:last-child{
        border-right:1px solid var(--greySlimBorder); 
    
    }

        .TextInfo-Rok-BizFin{
          padding-left:0%;
        }

        .rok-official{
          transform: translateX(15%);
          z-index:-1;
        }

      

  }

    @media (max-width: 768px) {


      .default-section.features {
        padding: 0rem 0rem;
      }

      /* QUALIFY */
      .qualify-section {
        padding: 2rem 0rem;
      }

      .qualify-body {
        flex-direction: column;
      }

      .singleUnit-feature{
        align-items: start;
        text-align: left;
        justify-content: start;
      }

      .qualify-title {
        font-size: 2.5rem;
      }

      .qualify-item-text {
        font-size: 1rem;
      }

      .breakQualifyTitle {
        display: block;
      }

      /* QUESTIONS */
      .questions-container {
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 1rem;
      }

      .questions-title {
        font-size: 2rem;
        text-align: left;
      }

      .questions-subtitle {
        font-size: 1.5rem;
      }

      .questions-text {
        font-size: 1rem;
      }



    }


      @media (max-width: 600px) {
        .rok-official{
          width:50%;

          /* transform: translateY(20px); */
        }
      }