/*LINKED TOP SELLING PRODUCTS STYLING*/
:root {
                --slide-and-container-width-singularUnit: 83vw;
                --slide-and-container-height: 400px;
                /* controls the slide viewer width per slide*/
                /*We are using 1200px or 83vw or 83%*/
            }
            
            .productCategoryTitle{
                color: var(--us-store-bambulab-com-black-88, var(--color-black-88, rgba(0, 0, 0, 0.88)));
                /* us.store.bambulab.com/Semantic/Heading 2 */
                font-family: var(--font-family-Font-1, Manrope);
                font-size: var(--font-size-34, 34px);
                font-style: normal;
                font-weight: var(--font-weight-700, 700);
                line-height: var(--line-height-44_2, 44.2px); /* 130% */
            }     

            .home-default-section{
                display: flex;
                width: var(--slide-and-container-width-singularUnit);
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                margin:0 auto;
                gap: 2rem;
            }
        
            .product-title{
                font-size: var(--font-size-24, 24px);
                font-style: normal;
                font-weight: var(--font-weight-700, 700);
                line-height: var(--line-height-31_2, 31.2px); /* 130% */
            }

            .product-summary{
                font-size: var(--font-size-12, 12px);
                font-style: normal;
                font-weight: var(--font-weight-400, 400);
                line-height: var(--line-height-18, 18px); /* 150% */
                padding-right:60%;
                padding-bottom: 2.5rem;
            }

            .btn-featured-products{         
                font-size: 1rem;
                font-style: normal;
                font-weight: var(--font-weight-400, 400);
                line-height: var(--line-height-18, 18px); /* 150% */
                border-radius: 8px;
                background-color: transparent;
                padding:.8rem 2rem;
                border: 1px solid var(--Primary-Btn, #3C88C3);       
                color:var(--Primary-Btn);
                position: absolute;
                bottom:1rem;
            }

            .btn-featured-products:hover{    
                border: 1px solid var(--Primary-Btn, );            
                color:var(--Primary-Btn);
                background-color: var(--Primary-Btn);
                color:white;
            }

            .btn-featured-products span svg.icon{
                transform: translate(3px, 3px);

            }

            .title--and-controlSection{
                display: flex;
                align-content: center;
                justify-content: space-between;
                position: relative;
                
            }
            
            .carouselWindow{
                width: 85vw;
                overflow: hidden;
                position: relative;
                height:275px;
            }

            .controlSection span svg.icon{
                width: 1rem;
                height:1rem;
                margin: 0rem 0.25rem;
            }

            .carouselwithProducts-wrapper{
                position: absolute;
                height:275px;
                display: flex;
                column-gap:1rem;
            }

            .featured-product{
                width: calc(42.5vw - 0.5rem);  /* (carouselwithProducts-wrapper width / 2) - (column-gap/2) calculate the container divided by number of product to be seen per window minus the gap*/
                padding:4rem 2rem;
                position: relative;       
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;  
            }        

            .product-Link-Mobile{
                display: none;
                padding:1rem 0px;
            }

            .controlSection{
                position: relative;
                display:flex;
                align-items: center;
            }

            .icon.leftArrow, .icon.rightArrow{
                transform:translateY(3px);
            }

            .topCat-viewAll-Btn{
                color:#333;

            }

            .bottomcontrolSection-foot{
                display: flex;
                padding-top:2rem;
                flex-direction: row;
                justify-content: end;
                align-items: center;
            }

                    /* TOGGLE EXTRA CHANGES IN GRID VIEW */
            .grid-view .product-summary {
                padding-right: 0 !important;
            }

            .grid-view.carouselWindow {
                height: fit-content !important;
            }


            .carouselwithProducts-wrapper.is-grid .featured-product {
            height: auto;
            }


         /*View All Toggle Grid Carousel Collapse And Expand start*/
            /* ===============================
            DESKTOP – VIEW ALL (GRID)
            ================================ */
            .carouselwithProducts-wrapper.is-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* Desktop default */
            transform: none !important;
            }

            /* Hide arrows when in grid mode (desktop + all sizes) */
            .topProducts-carousel-header .controlSection {
            transition: opacity 0.2s ease;
            }

            .topProducts-carousel-header.is-grid .controlSection {
            opacity: 0;
            pointer-events: none;
            }

           /*View All Toggle Grid Carousel Collapse And Expand end*/

          @media (max-width: 1024px) {
             :root {
                --slide-and-container-width-singularUnit: 94vw;
            }

             .home-default-section{
                display: flex;
                width: var(--slide-and-container-width-singularUnit);
            }

            .carouselWindow.grid-view {
                height: auto !important;
                overflow: visible;
                overflow: hidden;
            }

            .carouselwithProducts-wrapper.grid-view {
                display: grid !important;
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;
                position: static !important;
                transform: none !important;
                height: auto !important;
                padding-top: 2rem;
            }

            .leftArrow, .rightArrow {
                display: none !important;
            }


                        /* ===============================
            TOP SELLING ONLY – GRID MODE
            ================================ */
            .home-default-section.is-grid .carouselWindow {
            overflow: visible;
            height: auto;
            }

            .home-default-section.is-grid .carouselwithProducts-wrapper {
            display: grid;
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            transform: none !important;
            width: 100%;
            }

            .carouselWindow {
                overflow: hidden;
                }

            .carouselwithProducts-wrapper {
                display: flex;
                gap: 24px;
                transition: transform 0.4s ease;
            }

          



          /*View All Toggle Grid Carousel Collapse And Expand start*/
          /* ===============================
            TABLET
            ================================ */
            @media (max-width: 1024px) {
            .carouselwithProducts-wrapper.is-grid {
                grid-template-columns: repeat(3, 1fr);
            }
            }
         /*View All Toggle Grid Carousel Collapse And Expand start*/
        }

  
            @media (max-width:768px){
            /*On mobile allow horizonatal scroll but make the bars invinsible*/
            .featured-product{
                width: calc(42.5vw - 0.3rem);  /* (carouselwithProducts-wrapper width / 2) - (column-gap/2) calculate the container divided by number of product to be seen per window minus the gap*/
                padding:0rem .5rem;
                position: relative; 
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain; 
                display: flex;
                flex-direction: column;
                align-content: stretch;  
                justify-content: space-between; 
            }     

            .product-summary{
                padding:0rem;
            }

       
                .title--and-controlSection, .carouselWindow {
                width: 95vw;
                }

                .btn-featured-products{
                    padding:0rem 0rem;
                    border:none;
                    position: relative;
                    left:0;
                    order:1;
                }

                .btn-featured-products.btn-Mini{
                    width: 100%;
                    border-radius: 0%;
                }

                .featured-product{
                    gap:0rem;
                    justify-content: space-around;
                }

                .product-summary{
                    order:2;
                }

                .product-title{
                    text-align: center;
                    color: #111827;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 2rem; /* 140% */
                }

                .btn-featured-products.product-Btn-Desktop{
                    /* position: absolute; */
                    display: none;
                }

                .btn-featured-products.product-Btn-Desktop.topCategory{
                    position: absolute;
                }


                .product-Link-Mobile{
                    display: flex;
                    padding: 0px;
                    justify-content: center;
                }

                .product-Link-Mobile .icon{
                    transform: translateY(2.5px);
                }

                .product-Link-Mobile:hover {
                    transform: translateX(2.5px);
                }

                .product-Link-Mobile{
                    color: var(--TypographyColors-Link, #63A0CF);
                    font-size: .95rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.2rem; /* 142.857% */
                }

                .product-Link-Mobile:hover{
                    font-size: .95rem;
                    line-height: 1.2rem; /* 142.857% */  
                    cursor: pointer;
                }

                .productCategoryTitle{
                    color: #111827;
                    text-align: center;
                    /* BBu.Mobile.H2 */
                    font-family: Manrope;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px; /* 125% */
                }

                .grid-view .carouselwithProducts-wrapper {
                    position: relative !important;
                    display: grid !important;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 2rem;
                    height: auto !important;
                    transform: none !important;
                }

                .grid-view .featured-product {
                    width: 100% !important;
                    height: 320px;
                    background-size: contain;
                }

            /* Hide the arrows in grid mode */
                 .grid-view .controlSection {
                    display: none !important;
                }

                 /*View All Toggle Grid Carousel Collapse And Expand start*/
                /* ===============================
                MOBILE
                ================================ */
                .carouselwithProducts-wrapper.is-grid {
                    grid-template-columns: repeat(2, 1fr);
                }
                 /*View All Toggle Grid Carousel Collapse And Expand end*/
        }     


        /*MOBILE SINGLE UNIT PRODUCT VIEW*/
        @media (max-width:550px){
                h2.productCategoryTitle{
                    text-align: center;
                    margin:0 auto;                
                }

                .title--and-controlSection.head{
                    position: relative;                    
                    }

                .title--and-controlSection{
                    width:95vw;
                    /* background-color: red; */
                }

                .carouselWindow, .featured-product{
                    width: 95vw;
                }

                .carouselwithProducts-wrapper{
                    column-gap:0rem;
                }

                .product-summary{
                    font-size: 1rem;
                    background-color: white;
                    padding:.5rem;
                    /* border:1px solid black; */
                    position: absolute;
                    bottom:0;
                    transform: translateY(10px);
                    height:auto;
                    width: 98%;
                }

                .controlSection{
                    position: absolute;
                    bottom: 0%;
                    right: 0;
                    display: none;
                }

                .product-title{
                    position: absolute;
                    top:0;
                    left:50%;
                    transform: translateX(-50%);
                }

                .home-default-section{
                    padding-right:0rem;
                    padding-left:0rem;
                }
            

                /* FOR MOBILE*/
                    .bottomcontrolSection-foot{
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        justify-content: end;
                        align-items: center;
                    }

                    .bottomcontrolSection-foot .icon{
                        transform: translateY(2.5px);
                    }
            }

       