

    /* Carousel Indicator */

    .homeHero-carousel {
    position: relative;
}

.homeHero-carousel {
    user-select: none;
}

.homeHero-carousel .carousel-indicator {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    gap: 10px;
    z-index: 1;
}

.homeHero-carousel .carousel-indicator .dot {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden
}

.homeHero-carousel .carousel-indicator .dot .progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: #adacac;
    border-radius: 50px;
}

.homeHero-carousel .carousel-indicator .dot.active .progress {
    animation: fillProgress linear forwards;
}

@keyframes fillProgress {
    from { width: 0%; }
    to   { width: 100%; }
}


.homeHero-carousel .carousel-indicator .dot.active {
    width: 28px;           /* pill effect */
    background: #fff;
}


    /* Home Hero The First - Loads of POS - Supplies And Bank Image */
    .homeHero-carousel .slide[data-bg="1"] {
        background: url('../images/hero/optimum-payments-desktopHomeHero.jpg') no-repeat center/cover;
        
    }

    /* Rok Business Financing*/
    .homeHero-carousel .slide[data-bg="2"] {       
        background: url('../images/hero/desktopHero_Tabit_2-BizFinancing-Desktop.jpg') no-repeat center/cover;
    }

     /*  Payment Processing */
     
    .homeHero-carousel .slide[data-bg="3"] {
        background: url('../images/hero/paymentProcessing_HeroDesktop.png') no-repeat center/cover;
        
    }

   /* Merchant Application - Become A Merchant*/
    .homeHero-carousel .slide[data-bg="4"] {
        background: rgb(189, 189, 84);
        background: url('../images/hero/hero-full-bleed-dark.jpg') no-repeat center/cover;
    }

    /* DigitalService Slide Image; */
    .homeHero-carousel .slide[data-bg="5"] {
        background: url('../images/hero/DigitalService--desktop-HomeHero.jpg') no-repeat center/cover;
        
    }

 

.homeHero-carousel .carousel-window {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* min-height: 500px; */
    /* min-height: 80vh; */
}

.carousel-window.home-hero{
    height: 560px;
    /* background-color: red; */

}

/* .carousel-window.home-hero div.carousel-wrapper{
    height:100%;
} */



.homeHero-carousel .carousel-wrapper {
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    width: calc(var(--slide-count, 5) * 100vw);
    display: flex;
}

#home-hero div.carousel-wrapper div.slide{
    height:100%;
}

.homeHero-carousel .slide {
    width: 100vw;
    flex-shrink: 0;
    padding: 12px 32px;
    display: flex;
    position: relative;
    flex-direction: row;
    height:auto;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgb(70, 69, 69);
}

/* Keep your layout rules but scoped */
.homeHero-carousel .textInfo-wrapper,
.homeHero-carousel .image-wrapper {
    flex: 1;
}

.homeHero-carousel .image-wrapper {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translate(0, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 400px;
    display:none;
}

.homeHero-carousel .textInfo-wrapper {
    position: relative;
    width: 560px;
    display: flex;
    flex-direction: column;
    padding:2%;
    padding: 4rem;
}

.homeHero-carousel .cta-container-hero{
    padding-top: 52px;
    /* padding-bottom:32px; */
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap:1rem;
}


.homeHero-carousel p.label-h1{
    color: var(--us-store-bambulab-com-yellow-orange, var(--color-orange-63, #FFBA41));
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16.8px; /* 120% */
    min-height:16.8px;    
}

.homeHero-carousel p.display{
    color: var(--us-store-bambulab-com-alabaster, var(--color-grey-98, #FBFBFB));
    font-family: var(--font-family-Font-1, Manrope);
    font-size: var(--line-height-18, 18px);
    font-style: normal;
    font-weight: var(--font-weight-700, 700);
    line-height: var(--line-height-23_4, 23.4px); /* 130% */
    width: 340px;
    max-width: 28ch;
}
h1.heading.title{
    width:14ch;
    color: var(--us-store-bambulab-com-white, var(--color-white-solid, #FFF));
    /* us.store.bambulab.com/Semantic/Heading 1 */
    font-family: var(--font-family-Font-1, Manrope);
    font-size: var(--font-size-40, 40px);
    font-style: normal;
    font-weight: var(--font-weight-700, 700);
    line-height: var(--line-height-48, 48px); /* 120% */
    text-transform: capitalize;
}

@media (max-width:1024px) {
.homeHero-carousel .textInfo-wrapper {
  
    padding:2rem;
    
}

}


/*WE ARE USING DESKTOP FIRST APPROACH*/
/*THE LAST AND SMALLEST DEVICE WILL BE 768PX*/
@media (max-width:768px) {
    .homeHero-carousel .carousel-indicator {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 1%);
    display: flex;
    gap: 10px;
    z-index: 5;
}

   



.homeHero-carousel .slide {
    padding: 1rem 2rem;
    max-height:80%;
}

:root{
    --mobileHeroImageHeight:200px;
}

.image-wrapper img{   
    width:fit-content;
    height:var(--mobileHeroImageHeight);
}

.image-wrapper{
    overflow: hidden;
}

.homeHero-carousel .carousel-indicator{
    bottom:5%;
}

.carousel-wrapper.homeHero{
    gap:0px;
}

.homeHero-carousel .cta-container-hero{
    padding-top:0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     gap:1rem;

}



.homeHero-carousel .carousel-indicator .dot{
   background: rgba(122, 122, 122, 0.5);
}

.homeHero-carousel .carousel-indicator .dot.active{
        background:rgb(128, 128, 128);
}

/* Progress Bar Inside Active Dot */
.homeHero-carousel .carousel-indicator .dot {
    position: relative;
    overflow: hidden;
}

.homeHero-carousel .carousel-indicator .dot .progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: #fff;
    border-radius: 50px;
    transition: none;
}

/* Animate only active dot */
.homeHero-carousel .carousel-indicator .dot.active .progress {
    animation: fillProgress linear forwards;
}

/* Animation duration controlled via JS */
@keyframes fillProgress {
    from { width: 0%; }
    to   { width: 100%; }
}


    .homeHero-carousel .slide {
        background: none !important;
        flex-direction: column;
        padding: 1rem;
    }

    .homeHero-carousel .textInfo-wrapper {
        width: 100%;
        align-items: center;
        padding: .5rem;
    }

    .homeHero-carousel p.display,
    .homeHero-carousel h1.heading.title {
        width: 100%;
        text-align: center;
    }


    .homeHero-carousel .image-wrapper {
        position: relative;
        width: 500px;
        transform: none;
        bottom: 0;
        max-height:200px;
    }

      .homeHero-carousel .carousel-window.home-hero {
        min-height: 614px;
        height: auto;
    }



    .homeHero-carousel p.display{
    color: var(--TypographyColors-Subtitle, #788289);
    text-align: center;

    /* BBu.Mobile.P1 */
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    }

    .homeHero-carousel h1.heading.title{
    color: var(--TypographyColors-Title, #18374E);
    text-align: center;

    /* Mobile.H1 */
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.8px; /* 120% */
    }


    .homeHero-carousel .image-wrapper {
        display: flex;
    }

    .homeHero-carousel .image-wrapper{
        border:none;
    }
}
