
    header.hero-section {
      text-align: center;
      padding: 2rem;
      background-color: grey;
      background-image: url("../images/promo/HeroBanner1.jpg");
      background-size: cover;
      background-position: center;
      color: #fff;
    }

    .hero-title {
      font-size: 3rem;
      font-weight: 700;
      margin: 0;
    }


	.paragraph-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		font-family: "Manrope", sans-serif;
		font-size: 15px;
		font-weight: 400;
		color: #757575;
		line-height: 25px;

		word-wrap: break-word;
	}

	.default-section{
		padding:0% 10%;
		display: flex;
		flex-direction: column;
		gap:2rem;
	}

	ul {
    	padding-left: 1rem; /* behaves like a tab */
		}

		li {
			padding-left: 1rem; /* adds spacing to the bullet */
		}

	main{
		display: flex;
		flex-direction: column;
		gap:20px;
		padding:2rem;
    padding-bottom:8rem;

	}

  	.country-box {
		padding: .5rem 1rem;
		border-radius: 4px;
		outline: 1px #212121 solid;
		outline-offset: -1px;
		display: inline-flex;
		justify-content: start;
		align-items: center;
		width:fit-content;
	}

	/* Left flag container */
	.country-flag {
		padding-right: 8px;		
		flex-direction: row;
		justify-content: flex-start;
	}

	/* Flag icon container */
	.flag-icon {
		width: 16px;
		height: 16px;
		position: relative;
	}

	.icon.globe{
		transform: translateY(-3px);
	}

	/* Black square background */
	.flag-background {
		width: 16px;
		height: 16px;
		background: black;
		position: absolute;
		left: 0;
		top: 0;
	}

	

	/* Text section */
	.country-text {
		display: inline-flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.country-name {
		display: flex;
		justify-content: center;
		flex-direction: column;

		font-family: "Manrope", sans-serif;
		font-size: 1rem;
		font-weight: 400;
		line-height: 24px;
		color: #212121;

		word-wrap: break-word;
	}


	/* =========================
   		Tablet / Desktop Styles
	========================= */
	@media (min-width: 769px) {
		.hero-title {
			font-size: 3rem;
			}

		.content-area {
			padding: 3rem 10%;
			}

		.default-section{
		padding:0% 5%;
		gap:2rem;
		}

		main{		
		padding:2rem;
    padding-bottom:8rem;
		}

	}

    @media (max-width: 768px) {
      .hero-title {
        font-size: 2.2rem;
      }

	  .default-section{
		padding:0% 1rem;
		gap:1rem;
		}

		main{
      padding:1rem;
      padding-bottom: 5rem;
		}
    }