
        .hero-content{
            gap:15rem;    
            
        }

        .btn-primary.promo-cta-text{
            width: auto;
            font-family: Manrope;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.25rem;
            padding:0.75rem 2.5rem;
            border:1px solid var(--Primary-Btn, #3C88C3);
        }

        .hero-title.promo.display-70{
            position: relative;
        }
        .promo.display-70.special-accent.mod{  
            
            width: 90px;
            height:30px;             
            position: absolute;
            left:50%;
            bottom:35%;
            transform:rotate(353deg) translate(-50%, 50px);
            display: inline-grid;

            /* BBu.Mobile.Title */
            font-family: Manrope;
            font-size: 1.5rem;            
            font-style: normal;
            font-weight:700;
            line-height: 25px;
            border-radius: 4px;
            background: #FFF;
            box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.25);

            
        }

        .hero-text-wrapper{
            display:grid;
            gap:1rem;
        }

        .hero {
            width: 100%;
            min-height: 80vh;
            height: 560px;
            height: 620px;
            background: #C1D3D5;
            background: url('../images/promo/HeroBanner1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    /* h1.MobileH1{
        font-family: Manrope, sans-serif;
    } */

    .hero-content {
        margin:0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: grid;
        place-content: center;
    }

    .hero-title.promo {
        width: 19ch;
    }

    .hero-title{
        text-align: center;
    }

    H1.promo.display-70, span.promo.display-70.special-accent.mod, .Mobile.H1{
        margin:0 auto;
        color: var(--Secondary-Btn, #16394B);
        text-align: center;
        font-family: Inter;
        font-size: 2.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.3rem; 
        padding-top:.8rem;
        position: relative;
    }


    .hero-subtitle {
        max-width:33ch;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        color: var(--Primary-Btn, #3C88C3);
        font-family: Manrope, sans-serif;
        font-weight: 500;
        word-wrap: break-word;
        line-height: normal;
        font-size: 2rem;
        font-style: normal;
        position: relative;
    }

    .hero-cta-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
    }

    .cta-button {
        height: 48px;
        padding: 12px 40px;
        background: var(--Primary-Btn, #3C88C3);
        border-radius: 8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .cta-text {
        color: white;
        font-size: 16px;
        font-family: Manrope, sans-serif;
        font-weight: 600;
        line-height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .terms-wrapper {
        width: 390px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .terms-text {
        text-align: center;
        color: var(--TypographyColors-Subtitle, #788289);
        font-size: 12px;
        font-family: Manrope, sans-serif;
        font-weight: 500;
        word-wrap: break-word;
    }

    span.special-accent-promo-intro{
        font-weight: 600;
    }

    p.hero-subtitle.display-70{
        font-weight: 50;
    }


     @media (max-width: 768px){
         .hero-content{
             }

        H1.promo.display-70, span.promo.display-70.special-accent.mod, .Mobile.H1{
        margin:0 auto;
        
        
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3rem; 
        }

        .hero-subtitle{
            font-size:1.7rem;
            
        }

     }


    /* Mobile Devices - Reset Base to 550px for Mobile when done (550px width) */
    /* Mobile Devices - Base (390px width) */
    @media (max-width: 550px) {
    /* Mobile-specific styles will go here */
    .hero-subtitle{
        display: flex;
        width: 24.375rem;
        height: 8rem;
        flex-direction: column;
        justify-content: center;
    }
    
     .hero-content{
    }

    .hero-title.promo.display-70{
        font-size: 2.25rem;
        line-height: 3rem;
        width: 100%;
    }

    .hero-subtitle{
        margin:0 auto;
        font-size: 1.5rem;
        line-height: 2rem;
    }  

    

   

    .hero{
        width: 100%;
        height: fit-content;
    }

    .hero-subtitle.display-70{
        font-size:1.5rem;
        margin:0 auto;
    }

    .hero-text-wrapper{
        width:100%;
        padding:0rem 2%;
    }

    H1.promo.display-70, span.promo.display-70.special-accent.mod, .Mobile.H1{
        font-size:2rem;
    }
    
    }

    @media (max-width: 300px){
    }

