   
    .promoSection {
        position: relative;
    }

    .form-section {
        margin-top: 20px;
    }

    .form-section fieldset {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        min-width: 500px;
    }

    
    .form-section legend {
        font-weight: bold;
        padding: 0 10px;
    }

    .form-section label {
        display: block;
        margin: 15px 0 5px;
    }

    .form-section input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .cta-business {
        margin-top: 2rem;
    }

    .ToogleBreakToPromoSubTitle {
        display: block;
    }

    /* ============================
        TABS
    ============================ */
    .tabs {
        display: flex;
        border-bottom: 2px solid #ccc;      
        border-bottom: 2px solid var(--color-primary);    
        justify-content: center;
        padding:0 0%;
        width: 80%;
        margin:0 auto;
        align-items: flex-end;
        /* align-items: stretch; */
        /* background-color: grey; */
    }

    .tab-button{
        width: 50%;
    }

        .tab-button{
        min-height: 100px;
    }
    
    

    .tab-button {
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        background-color: rgb(199, 196, 196);
        color: rgb(41, 40, 40);
        font-size: 16px;
        transition: background 0.3s;
        border-radius: 0px;
    }

    .tab-button:hover {
        background-color: #f0f0f0;
    }

    .tab-button.active {
        background-color: var(--color-primary);
        color: white;
        border: 2px solid var(--color-blue);
        border-bottom: 0;    
    }

    .tab-content {
        display: none;
        opacity: 0;
        padding:2rem 10%;
        transition: opacity 0.3s;
    }

    .tab-content.active {
        display: block;
        opacity: 1;
    }

    /* ============================
        PROMO SECTIONS
    ============================ */
    .form-section.promo {
        display: flex;
        width: 100%;
    }

    .form-section.promo > div {
        flex: 1;
    }

    .form-section.promo-info {
        padding-right: 1rem;
        position: relative;
    }

    .promo-info-formtype--wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .Terms-Apply-Promo {
        font-size: 10px;
        text-align: center;
        width: 100%;
        color: rgb(119, 115, 115);
        padding: 10px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 10px);
    }

    .tab-content {
            margin-bottom:4rem;
        }


    /* ============================
        TABLET 1024PX
    ============================ */
    @media (max-width: 1024px) {
        .tab-content{
            padding:2rem 5%;        
        }   

        .tabs{
            width: 90%;
            padding:0;
        }
        }


    /* ============================
        MOBILE 768PX
    ============================ */
    @media (max-width: 768px) {

        

        .tab-button {
        width: 50%;
        text-align: center;
        padding: 12px 16px;
        font-size: 15px;
        }

        .ToogleBreakToPromoSubTitle {
        display: none;
        }

        .form-section.promo {
        flex-direction: column;
        gap: 20px;
        }

        .form-section.promo-info {
        padding-right: 0;
        text-align: center;
        }

         .form-section fieldset {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        min-width: 300px;
        margin-bottom: 2rem;
    }

    .hero-text-wrapper{
        max-width: 100%;
        
    }

        

        .promo-info-formtype--wrapper {
        grid-template-columns: 1fr;
        gap: 12px;
        }

        .tab-content {
        padding: 1rem;
        }

        .cta-business {
        width: 100%;
        margin-top: 1.5rem;
        }
        
    }