
    .shop-heading{
        display: flex;
        width: 100%;
        padding: 2rem 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .shop-title{
        color: var(--us-store-bambulab-com-mine-shaft, var(--color-grey-20, #333));
        text-align: center;
        /* us.store.bambulab.com/Semantic/Heading 1 */
        font-family: var(--font-family-Font-1, Manrope);
        font-size: var(--font-size-34, 34px);
        font-style: normal;
        font-weight: var(--font-weight-700, 700);
        line-height: var(--line-height-40_8, 40.8px); /* 120% */

        align-self: stretch;
    }

    .shop-subtitle-display-intro{
        color: var(--us-store-bambulab-com-black-88, var(--color-black-88, rgba(0, 0, 0, 0.88)));
        text-align: center;

        /* us.store.bambulab.com/Manrope/Regular */
        font-family: var(--font-family-Font-1, Manrope);
        font-size: var(--font-size-14, 14px);
        font-style: normal;
        font-weight: var(--font-weight-400, 400);
        line-height: var(--line-height-22, 22px); /* 157.143% */

        width: 80%;
    }

    @media(max-width:1024px){

    }

    @media(max-width:768px){

    }